# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_FEGER_LEFT

config ZMK_KEYBOARD_NAME
    default "Feger"

config ZMK_SPLIT_ROLE_CENTRAL
    default n

endif

if SHIELD_FEGER_LEFT || SHIELD_FEGER_RIGHT

config ZMK_SPLIT
    default y

endif
