/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include "keys_de.h"
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

&mt {
    flavor = "tap-preferred";
    tapping_term_ms = <200>;
};

/ {
    combos {
        compatible = "zmk,combos";

        esc_left {
            bindings = <&kp ESC>;
            key-positions = <14 13>;
        };

        gaming {
            bindings = <&to 4>;
            key-positions = <0 20>;
        };

        ed {
            bindings = <&to 6>;
            key-positions = <9 29>;
        };

        base {
            bindings = <&to 0>;
            key-positions = <5 25>;
        };

        esc_right {
            bindings = <&kp ESCAPE>;
            key-positions = <15 16>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            bindings = <
&kp Q        &kp W       &kp F         &kp P       &kp B        &kp J        &kp L          &kp U         &kp Y       &kp SEMICOLON
&mt LCTRL A  &mt LALT R  &mt LSHIFT S  &mt LGUI T  &kp G        &kp M        &mt LGUI N     &mt RSHIFT E  &mt LALT I  &mt LCTRL O
&kp Z        &kp X       &kp C         &kp D       &kp V        &kp K        &kp H          &kp COMMA     &kp DOT     &kp SLASH
                                       &lt 3 TAB   &lt 1 SPACE  &lt 2 ENTER  &kp BACKSPACE
            >;
        };

        nav {
            bindings = <
&kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &none         &none  &kp DOWN_ARROW  &kp RIGHT_ARROW  &none           &kp LEFT_BRACE  &kp RIGHT_BRACE
&kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_0  &none  &none           &kp LGUI         &kp LEFT_SHIFT  &kp LEFT_ALT    &kp LCTRL
&kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &none         &none  &kp UP_ARROW    &kp LEFT_ARROW   &none           &kp LESS_THAN   &kp GREATER_THAN
                                          &bt BT_CLR    &none  &none           &out OUT_TOG
            >;
        };

        symbols {
            bindings = <
&none            &none   &none             &kp LEFT_PARENTHESIS  &none          &bootloader  &kp RIGHT_PARENTHESIS  &none              &none      &none
&kp EXCLAMATION  &kp AT  &mt LSHFT HASH    &kp PERCENT           &kp AMPERSAND  &kp CARET    &kp DOLLAR             &mt LSHFT STAR     &kp MINUS  &kp PLUS
&kp BACKSLASH    &none   &kp LEFT_BRACKET  &kp LEFT_BRACE        &kp GRAVE      &kp TILDE    &kp RIGHT_BRACE        &kp RIGHT_BRACKET  &none      &kp EQUAL
                                           &kp SINGLE_QUOTE      &kp SEMICOLON  &none        &none
            >;
        };

        function_keys {
            bindings = <
&kp F4  &kp F5  &kp F6  &none    &bootloader  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&kp F1  &kp F2  &kp F3  &kp F10  &none        &none         &bt BT_CLR    &bt BT_NXT    &out OUT_BLE  &out OUT_USB
&kp F7  &kp F8  &kp F9  &none    &none        &none         &none         &none         &none         &none
                        &kp F11  &kp F12      &none         &none
            >;
        };

        Gaming {
            bindings = <
&kp TAB    &kp Q  &kp X  &kp E  &kp R         &kp T    &kp Z  &kp U  &kp I      &kp O
&kp LSHFT  &kp A  &kp W  &kp D  &kp F         &kp G    &kp H  &kp J  &kp K      &kp L
&kp LCTRL  &kp Y  &kp S  &kp C  &kp V         &kp B    &kp N  &kp M  &kp COMMA  &kp DOT
                         &mo 5  &kp DE_SPACE  &kp RET  &none
            >;
        };

        Gaming_Mod {
            bindings = <
&kp N4  &kp N5  &kp N6  &none   &none  &none  &none  &none  &none  &none
&kp N1  &kp N2  &kp N3  &kp N0  &none  &none  &none  &none  &none  &none
&kp N7  &kp N8  &kp N9  &none   &none  &none  &none  &none  &none  &none
                        &none   &none  &none  &none
            >;
        };

        ED_Base {
            bindings = <
&kp V    &kp Q  &kp DELETE  &kp E  &kp Z      &kp DOWN      &kp RIGHT  &kp GRAVE  &kp J  &to 0
&kp TAB  &kp A  &kp W       &kp D  &kp R      &none         &none      &kp HOME   &kp L  &kp U
&none    &kp X  &kp S       &kp N  &kp F      &kp UP_ARROW  &kp LEFT   &none      &none  &kp APOSTROPHE
                            &mo 7  &kp SPACE  &none         &none
            >;
        };

        ED_Mod {
            bindings = <
&kp NUMBER_4  &none         &none         &none  &none          &kp Y      &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp H  &kp G
&kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &none  &kp BACKSPACE  &kp PG_UP  &kp INSERT        &none              &none  &none
&kp COMMA     &kp PERIOD    &kp SLASH     &kp M  &none          &kp PG_DN  &none             &none              &none  &none
                                          &none  &none          &none      &none
            >;
        };
    };
};
